<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cập nhật thông tin người dùng</title>
</head>
<body>
<h1>Cập nhật thông tin</h1>

<form th:action="@{/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{username}">
    <div>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" th:field="*{password}"/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{contactInfo.email}"/>
    </div>
    <div>
        <label for="phone">Số điện thoại:</label>
        <input type="text" id="phone" th:field="*{contactInfo.phone}"/>
    </div>
    <div>
        <label for="address">Địa chỉ:</label>
        <input type="text" id="address" th:field="*{contactInfo.address}"/>
    </div>

    <div>
        <button type="submit">Cập nhật</button>
    </div>
</form>

<p><a th:href="@{/profile}">Quay lại trang hồ sơ</a></p>
</body>
</html>
