<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thêm nhân viên</title>
</head>
<body>
<h3>Thêm nhân viên</h3>
<form th:action="@{/add}" th:object="${employee}" method="POST" accept-charset="UTF-8">
    <div>
        <label for="name">Tên:</label>
        <input id="name" th:field="*{name}"/>
    </div>
    <div>
        <label for="phone">SĐT:</label>
        <input id="phone" th:field="*{phone}"/>
    </div>
    <button type="submit">Thêm</button>
</form>

</body>
</html>
