<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Recruiter Home</title>

</head>
<body>
<h1>Danh sách bài đăng</h1>

<a th:href="@{/recruiter/create}">Tạo bài đăng mới</a>

<div th:if="${posts.isEmpty()}">
    <p>Chưa có bài đăng nào.</p>
</div>

<div th:each="post : ${posts}">
    <h2 th:text="${post.title}">Tiêu đề</h2>

    <button type="button" th:onclick="'toggleDescription(' + ${post.id} + ')'">
        Xem chi tiết
    </button>

    <div th:id="'desc-' + ${post.id}" style="display: none; margin-top: 10px;">
        <p><strong>Mô tả:</strong> <span th:text="${post.description}"></span></p>
    </div>

    <p><strong>Trạng thái:</strong> <span th:text="${post.status}"></span></p>
    <p><strong>Ngày đăng:</strong> <span th:text="${post.postedDate}"></span></p>
    <a th:href="@{/recruiter/edit/{id}(id=${post.id})}">Điều chỉnh</a>
    <a th:href="@{/recruiter/delete/{id}(id=${post.id})}"
       onclick="return confirm('Chắc chắn xóa bài?');"> Xóa
    </a>
    <hr>
</div>
<script>
    function toggleDescription(postId) {
        const desc = document.getElementById('desc-' + postId);
        if (desc.style.display === 'none') {
            desc.style.display = 'block';
        } else {
            desc.style.display = 'none';
        }
    }
</script>
</body>
</html>
