<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Edit Product</title>
</head>
<body>
<h3>Edit Product</h3>
<p>
    <a th:href="@{/product}">
        Back to the list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/update}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="name">Tên</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="price">Giá</label>
            <input type="number" id="price" th:field="*{price}"/>
        </div>
        <input type="submit" value="Sửa"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>