body {
    font-family: Arial, Helvetica, sans-serif
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin: 10px 10px;
    font-size: 20px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
}

span {
    display: inline-block;
    width: 200px;
    font-size: 20px;
}

#amount {
    color: #d61b06;
}

.head {
    display: flex;
    justify-content: space-between;
}

tbody tr:nth-child(even) {
    background-color: whitesmoke;
}